openapi: 3.0.0
info:
  title: ECPay API
  description: 綠界金流 API 定義文件
  version: 0.0.3

servers:
  - description: 正式環境
    url: https://payment.ecpay.com.tw
  - description: 測試環境
    url: https://payment-stage.ecpay.com.tw
  - description: Prism Mock Server
    url: http://127.0.0.1:4010

externalDocs:
  url: https://www.ecpay.com.tw/Content/files/ecpay_011.pdf
  description: 可以在這裡找到完整的 API 文件說明

tags:
  - name: ECPay
    description: 綠界金流
  - name: CallBack
    description: 回呼

paths:
  /Cashier/AioCheckOut/V5:
    post:
      tags:
        - ECPay
      operationId: AioCheckOut
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AioCheckOutRequest'
      responses:
        200:
          description: OK

  /callback/ReturnURL:
    post:
      description: 付款結果通知
      security: []
      tags:
        - CallBack
      parameters:
        - name: MerchantID
          description: 特店編號
          required: true
          in: query
          schema:
            type: string
            example: 2000132
        - name: MerchantTradeNo
          description: 特店交易編號
          required: true
          in: query
          schema:
            type: string
            example: 123456abc
        - name: StoreID
          description: 特店旗下店舖代號
          required: true
          in: query
          schema:
            type: string
        - name: RtnCode
          description: 交易狀態
          required: true
          in: query
          schema:
            type: number
            example: 1
        - name: RtnMsg
          description: 交易訊息
          required: true
          in: query
          schema:
            type: string
            enum:
              - 交易成功
              - paid
              - Succeeded
            example: 交易成功

        - name: TradeNo
          description: 綠界的交易編號
          required: true
          in: query
          schema:
            type: string
            example: 20120315174058256424
        - name: TradeAmt
          description: 交易金額
          required: true
          in: query
          schema:
            type: integer
            minimum: 0
            example: 20000
        - name: PaymentDate
          description: 付款時間
          required: true
          in: query
          schema:
            type: string
            example: 2012/03/16 12:03:12

        - name: PaymentType
          description: 特店選擇的付款方式
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/PaymentType'
        - name: PaymentTypeChargeFee
          description: 通路費
          required: true
          in: query
          schema:
            type: integer
            minimum: 0
            example: 25
        - name: TradeDate
          description: 訂單成立時間
          required: true
          in: query
          schema:
            type: string
            example: 2012/03/15 17:40:58
        - name: CheckMacValue
          description: 檢查碼
          required: true
          in: query
          schema:
            type: string
        - name: SimulatePaid
          description: 是否為模擬付款
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/ECPaySimulateEnum'
        - name: CustomField1
          description: 自訂名稱欄位 1
          in: query
          schema:
            type: string
        - name: CustomField2
          description: 自訂名稱欄位 2
          in: query
          schema:
            type: string
        - name: CustomField3
          description: 自訂名稱欄位 3
          in: query
          schema:
            type: string
        - name: CustomField4
          description: 自訂名稱欄位 4
          in: query
          schema:
            type: string
        - name: CustomField5
          description: 自訂名稱欄位 5
          in: query
          schema:
            type: string


      responses:
        200:
          description: 接收成功
          content:
            application/json:
              schema:
                type: string
                example: '1|OK'
                default: '1|OK'

components:
  schemas:
    AioCheckOutRequest:
      allOf:
        - type: object
          required:
            - MerchantID
            - MerchantTradeNo
            - MerchantTradeDate
            - PaymentType
            - TotalAmount
            - TradeDesc
            - ItemName
            - ReturnURL
            - ChoosePayment
            - CheckMacValue
            - EncryptType
          properties:
            MerchantID:
              type: string
              maxLength: 10
              example: 2000132
              description: 特店編號(由綠界提供)

            MerchantTradeNo:
              type: string
              pattern: '^[\w\d]*$'
              maxLength: 20
              example: ecPay1234
              description: |
                **特店交易編號(由特店提供)**
                特店交易編號均為唯一值，不可重複使用。
                英數字大小寫混合
                如何避免訂單編號重複請參考 FAQ
                如有使用 `PlatformID` ，平台商底下所有商家之訂單編號亦不可重複。
            StoreID:
              type: string
              pattern: '^[\w\d]*$'
              maxLength: 20
              description: |
                **特店旗下店舖代號** 提供特店填入分店代號使用，僅可用英數字大小寫混合。
            MerchantTradeDate:
              type: string
              format: ecpay-date-time
              maxLength: 20
              example: 2012/03/21 15:40:18
              description: |
                **特店交易時間** 格式為 `yyyy/MM/dd HH:mm:ss`
            PaymentType:
              type: string
              maxLength: 20
              enum:
                - aio
              default: aio
              example: aio
              description: |
                **交易類型** 請固定填入 `aio`
            TotalAmount:
              type: integer
              minimum: 0
              example: 5000
              description: |
                **交易金額**
                請帶整數，不可有小數點。
                僅限新台幣。
                各付款金額的限制，請參考 <https://www.ecpay.com.tw/CascadeFAQ/CascadeFAQ_Qa?nID=3605>
            TradeDesc:
              type: string
              maxLength: 200
              example: ecpay 商城購物
              description: |
                **交易描述** 傳送到綠界前，請將參數值先做 UrlEncode。
            ItemName:
              type: string
              maxLength: 400
              example: '手機 20 元 X2#隨身碟 60 元 X1'
              description: |
                **商品名稱**
                1. 如果商品名稱有多筆，需在金流選擇頁一行一行顯示商品名稱的話，商品名稱請以符號#分隔。
                2. 商品名稱字數限制為中英數 400 字內，超過此限制系統將自動截斷。
            ReturnURL:
              type: string
              maxLength: 200
              example: http://your.web.site/receive.php
              description: |
                **付款完成通知回傳網址**
                當消費者付款完成後，綠界會將付款結果參數以幕後(Server POST)回傳到該網址。
                詳細說明請參考付款結果通知
                注意事項：
                1. 請勿設定與 Client 端接收付款結果網址 OrderResultURL 相同位置，避免程式判斷錯誤。
                2. 請在收到 Server 端付款結果通知後，請正確回應 1|OK 給綠界。
            ChoosePayment:
              type: string
              maxLength: 20
              example: Credit
              enum:
                - Credit
                - WebATM
                - ATM
                - CVS
                - BARCODE
                - ALL
              x-enum-descriptions:
                - 信用卡及銀聯卡(需申請開通)
                - 網路 ATM
                - 自動櫃員機
                - 超商代碼
                - 超商條碼
                - 不指定付款方式，由綠界顯示付款方式選擇頁面。
              description: |
                **選擇預設付款方式**
                綠界提供下列付款方式，請於建立訂單時傳送過來:
                - `Credit`: 信用卡及銀聯卡(需申請開通)
                - `WebATM`: 網路 ATM
                - `ATM`: 自動櫃員機
                - `CVS`: 超商代碼
                - `BARCODE`: 超商條碼
                - `ALL`: 不指定付款方式，由綠界顯示付款方式選擇頁面。

                注意事項：
                1.若為手機版時不支援下列付款方式:
                  - WebATM:網路 ATM

                2.如需要不透過綠界畫面取得 `ATM`、`CVS`、`BARCODE` 的繳費代碼，請參考 FAQ。
            CheckMacValue:
              type: string
              description: |
                **檢查碼** 請參考附錄檢查碼機制與產生檢查碼範例程式
            ClientBackURL:
              type: string
              maxLength: 200
              example: ttp://your.web.site/Shopping/Detail
              description: |
                **Client端返回特店的按鈕連結**
                消費者點選此按鈕後，會將頁面導回到此設定的網址
                注意事項：
                導回時不會帶付款結果到此網址，只是將頁面導回而已。
                設定此參數，綠界會在付款完成或取號完成頁面上顯示[返回商店]的按鈕。
                設定此參數，發生簡訊 OTP 驗證失敗時，頁面上會顯示[返回商店]的按鈕。
                若未設定此參數，則綠界付款完成頁或取號完成頁面，不會顯示[返回商店]的按鈕。
                若導回網址未使用 https 時，部份瀏覽器可能會出現警告訊息。
            ItemURL:
              type: string
              maxLength: 200
              description: |
                **商品銷售網址**
            Remark:
              type: string
              maxLength: 100
              description: |
                **備註欄位**
            ChooseSubPayment:
              type: string
              maxLength: 20
              example: TAISHIN #TODO: enum list
              description: |
                **付款子項目**
                若設定此參數，建立訂單將轉導至綠界訂單成立頁，依設定的付款方式及付款子項目帶入訂單，無法選擇其他付款子項目。
                請參考付款方式一覽表
            OrderResultURL:
              type: string
              maxLength: 200
              example: http://your.web.site/client.php
              description: |
                **Client端回傳付款結果網址**
                當消費者付款完成後，綠界會將付款結果參數以幕前(Client POST)回傳到該網址。
                詳細說明請參考付款結果通知
                注意事項：
                1. 若與[ClientBackURL]同時設定，將會以此參數為主。
                2. 銀聯卡及非即時交易(ATM、CVS、BARCODE)不支援此參數。
            NeedExtraPaidInfo:
              type: string
              maxLength: 1
              enum:
                - Y
                - N
              example: N
              default: N
              description: |
                **是否需要額外的付款資訊**
                額外的付款資訊：
                若不回傳額外的付款資訊時，參數值請傳：`Ｎ`；
                若要回傳額外的付款資訊時，參數值請傳：`Ｙ`，付款完成後綠界會以 Server POST 方式回傳額外付款資訊。
                注意事項：
                回傳額外付款資訊參數請參考-額外回傳的參數
            DeviceSource:
              type: string
              maxLength: 10
              description: |
                **裝置來源** 請帶空值，由系統自動判定。
            IgnorePayment:
              type: string
              maxLength: 100
              example: ATM#WebATM
              description: |
                **隱藏付款**
                當付款方式 `ChoosePayment` 為 `ALL` 時，可隱藏不需要的付款方式，多筆請以井號分隔(#)。
                可用的參數值：
                - `Credit`: 信用卡
                - `WebATM`: 網路 ATM
                - `ATM`: 自動櫃員機
                - `CVS`: 超商代碼
                - `BARCODE`: 超商條碼
            PlatformID:
              type: string
              maxLength: 10
              description: |
                **特約合作平台商代號(由綠界提供)**
                為專案合作的平台商使用。
                一般特店或平台商本身介接，則參數請帶放空值。
                若為專案合作平台商的特店使用時，則參數請帶平台商所綁的特店編號 `MerchantID`。
            InvoiceMark:
              type: string
              maxLength: 1
              enum:
                - Y
              description: |
                **電子發票開立註記**
                此參數為付款完成後同時開立電子發票。
                若要使用時，該參數須設定為「Y」，同時還要設定「電子發票介接相關參數」
                注意事項：
                正式環境欲使用電子發票功能，須與綠界申請開通，若未開通請致電客服中心 `(02) 2655-1775`。
            CustomField1:
              type: string
              maxLength: 50
              description: |
                **自訂名稱欄位1**
                提供合作廠商使用記錄用客製化使用欄位
                注意事項：
                特殊符號只支援 `,.#()$[];%{}:/?&@<>!`
            CustomField2:
              type: string
              maxLength: 50
              description: |
                **自訂名稱欄位2**
                提供合作廠商使用記錄用客製化使用欄位
                注意事項：
                特殊符號只支援 `,.#()$[];%{}:/?&@<>!`
            CustomField3:
              type: string
              maxLength: 50
              description: |
                **自訂名稱欄位3**
                提供合作廠商使用記錄用客製化使用欄位
                注意事項：
                特殊符號只支援 `,.#()$[];%{}:/?&@<>!`
            CustomField4:
              type: string
              maxLength: 50
              description: |
                **自訂名稱欄位4**
                提供合作廠商使用記錄用客製化使用欄位
                注意事項：
                特殊符號只支援 `,.#()$[];%{}:/?&@<>!`
            EncryptType:
              type: integer
              enum:
                - 1
              default: 1
              example: 1
              description: |
                **CheckMacValue加密類型** 請固定填入 `1`，使用 SHA256 加密。
            Language:
              type: string
              maxLength: 3
              enum:
                - ENG
                - KOR
                - JPN
                - CHI
              example: ENG
              description: |
                **語系設定**
                預設語系為中文，若要變更語系參數值請帶：
                - 英語：`ENG`
                - 韓語：`KOR`
                - 日語：`JPN`
                - 簡體中文：`CHI`
        - $ref: '#/components/schemas/AioCheckOut_ChoosePayment_CVS_BARCODE_Option'
        - $ref: '#/components/schemas/AioCheckOut_ChoosePayment_Credit_Option'

    AioCheckOut_ChoosePayment_CVS_BARCODE_Option:
      type: object
      properties:
        StoreExpireDate:
          type: integer
          description: |
            **超商繳費截止時間**
            注意事項：
            `CVS`:以分鐘為單位
            `BARCODE`:以天為單位
            若未設定此參數，`CVS` 預設為 `10080` 分鐘(`7` 天)；BARCODE 預設為 `7` 天。
            若需設定此參數，請於建立訂單時將此參數送給綠界。提醒您，CVS 帶入數值不可超過 `86400` 分鐘，超過時一律以 `86400` 分鐘計(`60` 天)
            例：`08/01` 的 `20:15` 分購買商品，繳費期限為 `7` 天，表示 `8/08` 的 `20:15` 分前您必須前往超商繳費。
            範例: `CVS`=`1440`(共 `1` 天)、`BARCODE`=`7`(共 `7` 天)
        Desc_1:
          type: string
          maxLength: 20
          example: 交易描述1
          description: |
            **交易描述1** 會出現在超商繳費平台螢幕上
        Desc_2:
          type: string
          maxLength: 20
          example: 交易描述2
          description: |
            **交易描述2** 會出現在超商繳費平台螢幕上
        Desc_3:
          type: string
          maxLength: 20
          example: 交易描述3
          description: |
            **交易描述3** 會出現在超商繳費平台螢幕上
        Desc_4:
          type: string
          maxLength: 20
          example: 交易描述4
          description: |
            **交易描述4** 會出現在超商繳費平台螢幕上
        PaymentInfoURL:
          type: string
          maxLength: 200
          description: |
            **Server 端回傳付款相關資訊**
            若有設定此參數，訂單建立完成後(非付款完成)，綠界會 Server 端背景回傳消費者付款方式相關資訊(例：繳費代碼與繳費超商)。
            請參考[`ATM`、`CVS` 或 `BARCODE` 的取號結果通知.]
            注意事項：
            頁面將會停留在綠界，顯示繳費的相關資訊。
            回傳只有三段號碼，並不會回傳條碼圖，需自行轉換成 code39 的三段條碼。
        ClientRedirectURL:
          type: string
          maxLength: 200
          description: |
            **Client端回傳付款方式相關資訊**
            若有設定此參數，訂單建立完成後(非付款完成)，綠界會從 Client 端回傳消費者付款方式相關資訊(例：繳費代碼與繳費超商)且將頁面轉到特店指定的頁面。
            請參考[`ATM`、`CVS` 或 `BARCODE` 的取號結果通知.]
            注意事項：
            若設定此參數，將會使設定的返回特店的按鈕連結[ClientBackURL]失效。
            若導回網址未使用 https 時，部份瀏覽器可能會出現警告訊息。
            回傳只有三段號碼，並不會回傳條碼圖，需自行轉換成 code39 的三段條碼。

    AioCheckOut_ChoosePayment_Credit_Option:
      type: object
      properties:
        BindingCard:
          type: integer
          enum:
            - 1
            - 0
          example: 1
          description: |
            **記憶卡號**
            使用記憶信用卡
            使用：請傳 `1`
            不使用：請傳 `0`
        MerchantMemberID:
          type: string
          maxLength: 30
          description: |
            **記憶卡號識別碼** 記憶卡號識別碼 (特店代號 `MerchantID` + `廠商會員編號`)

    ECPaySimulateEnum:
      type: integer
      enum:
        - 0
        - 1
      x-enum-varnames:
        - REAL_PAID
        - SIMULATED
      x-enum-descriptions:
        - 不是模擬付款
        - 是模擬付款
      example: 0
    PaymentType:
      type: string
      example: Credit_CreditCard
      enum:
        - WebATM_TAISHIN
        - WebATM_ESUN
        - WebATM_BOT
        - WebATM_FUBON
        - WebATM_CHINATRUST
        - WebATM_FIRST
        - WebATM_CATHAY
        - WebATM_MEGA
        - WebATM_LAND
        - WebATM_TACHONG
        - WebATM_SINOPAC
        - ATM_TAISHIN
        - ATM_ESUN
        - ATM_BOT
        - ATM_FUBON
        - ATM_CHINATRUST
        - ATM_FIRST
        - ATM_LAND
        - ATM_CATHAY
        - ATM_TACHONG
        - CVS_CVS
        - CVS_OK
        - CVS_FAMILY
        - CVS_HILIFE
        - CVS_IBON
        - BARCODE_BARCODE
        - Credit_CreditCard


