openapi: 3.0.3
info:
  title: ECPay API
  description: 綠界金流 API 定義文件
  version: 0.0.9

servers:
  - description: 正式環境
    url: https://payment.ecpay.com.tw
  - description: 測試環境
    url: https://payment-stage.ecpay.com.tw
  - description: Prism Mock Server
    url: http://127.0.0.1:4010

externalDocs:
  url: https://www.ecpay.com.tw/Content/files/ecpay_011.pdf
  description: 可以在這裡找到完整的 API 文件說明

tags:
  - name: ECPay
    description: 綠界金流
  - name: CallBack
    description: 回呼

paths:
  # /Cashier/AioCheckOut/V5:
  #   post:
  #     tags:
  #       - ECPay
  #     operationId: AioCheckOut
  #     requestBody:
  #       content:
  #         application/x-www-form-urlencoded:
  #           schema:
  #             $ref: '#/components/schemas/AioCheckOutRequest'
  #     responses:
  #       200:
  #         description: OK

  /callback/ReturnURL:
    post:
      description: 付款結果通知
      security: []
      tags:
        - CallBack
      parameters:
        - name: MerchantID
          description: 特店編號
          required: true
          in: query
          schema:
            type: string
            example: 2000132
        - name: MerchantTradeNo
          description: 特店交易編號
          required: true
          in: query
          schema:
            type: string
            example: 123456abc
        - name: StoreID
          description: 特店旗下店舖代號
          required: true
          in: query
          schema:
            type: string
        - name: RtnCode
          description: 交易狀態
          required: true
          in: query
          schema:
            type: number
            example: 1
        - name: RtnMsg
          description: 交易訊息
          required: true
          in: query
          schema:
            type: string
            enum:
              - 交易成功
              - paid
              - Succeeded
            example: 交易成功

        - name: TradeNo
          description: 綠界的交易編號
          required: true
          in: query
          schema:
            type: string
            example: 20120315174058256424
        - name: TradeAmt
          description: 交易金額
          required: true
          in: query
          schema:
            type: integer
            minimum: 0
            example: 20000
        - name: PaymentDate
          description: 付款時間
          required: true
          in: query
          schema:
            type: string
            example: 2012/03/16 12:03:12
        - name: PaymentType
          description: 特店選擇的付款方式
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/PaymentTypeEnum'
        - name: PaymentTypeChargeFee
          description: 通路費
          required: true
          in: query
          schema:
            type: integer
            minimum: 0
            example: 25
        - name: TradeDate
          description: 訂單成立時間
          required: true
          in: query
          schema:
            type: string
            example: 2012/03/15 17:40:58
        - name: CheckMacValue
          description: 檢查碼
          required: true
          in: query
          schema:
            type: string
        - name: SimulatePaid
          description: 是否為模擬付款
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/ECPaySimulateEnum'
        - name: CustomField1
          description: 自訂名稱欄位 1
          in: query
          schema:
            type: string
        - name: CustomField2
          description: 自訂名稱欄位 2
          in: query
          schema:
            type: string
        - name: CustomField3
          description: 自訂名稱欄位 3
          in: query
          schema:
            type: string
        - name: CustomField4
          description: 自訂名稱欄位 4
          in: query
          schema:
            type: string
        - name: CustomField5
          description: 自訂名稱欄位 5
          in: query
          schema:
            type: string


      responses:
        200:
          description: 接收成功
          content:
            application/json:
              schema:
                type: string
                example: '1|OK'
                default: '1|OK'

components:
  schemas:
    AioCheckOutGeneral:
      type: object
      required:
        - MerchantID
        - MerchantTradeNo
        - MerchantTradeDate
        - PaymentType
        - TotalAmount
        - TradeDesc
        - ItemName
        - ReturnURL
        - ChoosePayment
        - CheckMacValue
        - EncryptType
      properties:
        MerchantID:
          type: string
          maxLength: 10
          example: 2000132
          description: |
            **特店編號(由綠界提供)**
        MerchantTradeNo:
          type: string
          pattern: '^[\w\d]*$'
          maxLength: 20
          example: ecPay1234
          description: |
            **特店交易編號(由特店提供)**  
            特店交易編號均為唯一值，不可重複使用。  
            英數字大小寫混合  
            如何避免訂單編號重複請參考 FAQ  
            如有使用 `PlatformID` ，平台商底下所有商家之訂單編號亦不可重複。  
        StoreID:
          type: string
          pattern: '^[\w\d]*$'
          maxLength: 20
          description: |
            **特店旗下店舖代號** 提供特店填入分店代號使用，僅可用英數字大小寫混合。
        MerchantTradeDate:
          type: string
          format: ecpay-date-time
          # maxLength: 20 #這會導致sdk產生故障
          example: 2012/03/21 15:40:18
          description: |
            **特店交易時間** 格式為 `yyyy/MM/dd HH:mm:ss`
        PaymentType:
          $ref: '#/components/schemas/AioCheckPaymentTypeEnum'
        TotalAmount:
          type: integer
          minimum: 0
          example: 5000
          description: |
            **交易金額**  
            請帶整數，不可有小數點。  
            僅限新台幣。  
            各付款金額的限制，請參考 <https://www.ecpay.com.tw/CascadeFAQ/CascadeFAQ_Qa?nID=3605>
        TradeDesc:
          type: string
          maxLength: 200
          example: ecpay 商城購物
          description: |
            **交易描述** 傳送到綠界前，請將參數值先做 UrlEncode。
        ItemName:
          type: string
          maxLength: 400
          example: '手機 20 元 X2#隨身碟 60 元 X1'
          description: |
            **商品名稱**  
            1. 如果商品名稱有多筆，需在金流選擇頁一行一行顯示商品名稱的話，商品名稱請以符號#分隔。  
            2. 商品名稱字數限制為中英數 400 字內，超過此限制系統將自動截斷。  
        ReturnURL:
          type: string
          maxLength: 200
          example: http://your.web.site/receive.php
          description: |
            **付款完成通知回傳網址**  
            當消費者付款完成後，綠界會將付款結果參數以幕後(Server POST)回傳到該網址。  
            詳細說明請參考付款結果通知  
            注意事項：   
            1. 請勿設定與 Client 端接收付款結果網址 OrderResultURL 相同位置，避免程式判斷錯誤。  
            2. 請在收到 Server 端付款結果通知後，請正確回應 1|OK 給綠界。  
        ChoosePayment:
          $ref: '#/components/schemas/ChoosePaymentEnum'
        CheckMacValue:
          type: string
          description: |
            **檢查碼** 請參考附錄檢查碼機制與產生檢查碼範例程式
        ClientBackURL:
          type: string
          maxLength: 200
          example: http://your.web.site/Shopping/Detail
          description: |
            **Client端返回特店的按鈕連結**  
            消費者點選此按鈕後，會將頁面導回到此設定的網址  
            注意事項：  
            導回時不會帶付款結果到此網址，只是將頁面導回而已。  
            設定此參數，綠界會在付款完成或取號完成頁面上顯示[返回商店]的按鈕。  
            設定此參數，發生簡訊 OTP 驗證失敗時，頁面上會顯示[返回商店]的按鈕。  
            若未設定此參數，則綠界付款完成頁或取號完成頁面，不會顯示[返回商店]的按鈕。  
            若導回網址未使用 https 時，部份瀏覽器可能會出現警告訊息。  
        ItemURL:
          type: string
          maxLength: 200
          description: |
            **商品銷售網址**
        Remark:
          type: string
          maxLength: 100
          description: |
            **備註欄位**
        ChooseSubPayment:
          type: string
          maxLength: 20
          example: TAISHIN #TODO: enum list
          description: |
            **付款子項目**  
            若設定此參數，建立訂單將轉導至綠界訂單成立頁，依設定的付款方式及付款子項目帶入訂單，無法選擇其他付款子項目。  
            請參考付款方式一覽表  
        OrderResultURL:
          type: string
          maxLength: 200
          example: http://your.web.site/client.php
          description: |
            **Client端回傳付款結果網址**    
            當消費者付款完成後，綠界會將付款結果參數以幕前(Client POST)回傳到該網址。  
            詳細說明請參考付款結果通知  
            注意事項：  
            1. 若與[ClientBackURL]同時設定，將會以此參數為主。  
            2. 銀聯卡及非即時交易(ATM、CVS、BARCODE)不支援此參數。  
        NeedExtraPaidInfo:
          $ref: '#/components/schemas/NeedExtraPaidInfoEnum'
        DeviceSource:
          type: string
          maxLength: 10
          description: |
            **裝置來源** 請帶空值，由系統自動判定。
        IgnorePayment:
          type: string
          maxLength: 100
          example: ATM#WebATM
          description: |
            **隱藏付款**  
            當付款方式 `ChoosePayment` 為 `ALL` 時，可隱藏不需要的付款方式，多筆請以井號分隔(#)。  
            可用的參數值：  
            - `Credit`: 信用卡  
            - `WebATM`: 網路 ATM  
            - `ATM`: 自動櫃員機  
            - `CVS`: 超商代碼  
            - `BARCODE`: 超商條碼  
        PlatformID:
          type: string
          maxLength: 10
          description: |
            **特約合作平台商代號(由綠界提供)**  
            為專案合作的平台商使用。  
            一般特店或平台商本身介接，則參數請帶放空值。  
            若為專案合作平台商的特店使用時，則參數請帶平台商所綁的特店編號 `MerchantID`。  
        InvoiceMark:
          $ref: '#/components/schemas/InvoiceMarkEnum'
        CustomField1:
          type: string
          maxLength: 50
          description: |
            **自訂名稱欄位1**  
            提供合作廠商使用記錄用客製化使用欄位  
            注意事項：  
            特殊符號只支援 `,.#()$[];%{}:/?&@<>!`
        CustomField2:
          type: string
          maxLength: 50
          description: |
            **自訂名稱欄位2**  
            提供合作廠商使用記錄用客製化使用欄位  
            注意事項：  
            特殊符號只支援 `,.#()$[];%{}:/?&@<>!`
        CustomField3:
          type: string
          maxLength: 50
          description: |
            **自訂名稱欄位3**  
            提供合作廠商使用記錄用客製化使用欄位  
            注意事項：  
            特殊符號只支援 `,.#()$[];%{}:/?&@<>!`
        CustomField4:
          type: string
          maxLength: 50
          description: |
            **自訂名稱欄位4**  
            提供合作廠商使用記錄用客製化使用欄位  
            注意事項：  
            特殊符號只支援 `,.#()$[];%{}:/?&@<>!`
        EncryptType:
          $ref: '#/components/schemas/EncryptTypeEnum'
        Language:
          $ref: '#/components/schemas/LanguageEnum'
        # === ATM Option ===        
    AioCheckOutAtmOption:
      type: object
      properties:
        ExpireDate:
          type: integer
          minimum: 1
          maximum: 60
          example: 7
          description: |
            **允許繳費有效天數**  
            若需設定最長 60 天，最短 1 天。  
            未設定此參數則預設為 3 天  
            注意事項：以天為單位
        PaymentInfoURL:
          type: string
          maxLength: 200
          example: http://your.web.site/paymentinfo.php
          description: |
            **Server端回傳付款相關資訊**  
            若有設定此參數，訂單建立完成後(非付款完成)，綠界會 Server 端背景回傳消費者付款方式相關資訊(例：銀行代碼、繳費虛擬帳號繳費期限…等)。  
            請參考[ATM、CVS 或 BARCODE 的取號結果通知.]  
            注意事項：  
            頁面將會停留在綠界，顯示繳費的相關資訊。
        ClientRedirectURL:
          type: string
          maximum: 200
          example: http://your.web.site/ClientRedirectURL.php
          description: |
            **Client端回傳付款相關資訊**  
            若有設定此參數，訂單建立完成後(非付款完成)，綠界會 Client 端回傳消費者付款方式相關資訊(例：銀行代碼、繳費虛擬帳號繳費期限…等)且將頁面轉到特店指定的頁面。請參考[ATM、CVS 或 BARCODE 的取號結果通知.]  
            注意事項：  
            若設定此參數，將會使設定的返回特店的按鈕連結[ClientBackURL]失效。  
            若導回網址未使用 https 時，部份瀏覽器可能會出現警告訊息。  

        # === CVS、BARCODE Option ===
    AioCheckOutCvsBarcodeOption:
      type: object
      properties:
        StoreExpireDate:
          type: integer
          description: |
            **超商繳費截止時間**  
            注意事項：  
            `CVS`:以分鐘為單位  
            `BARCODE`:以天為單位  
            若未設定此參數，`CVS` 預設為 `10080` 分鐘(`7` 天)；BARCODE 預設為 `7` 天。  
            若需設定此參數，請於建立訂單時將此參數送給綠界。提醒您，CVS 帶入數值不可超過 `86400` 分鐘，超過時一律以 `86400` 分鐘計(`60` 天)  
            例：`08/01` 的 `20:15` 分購買商品，繳費期限為 `7` 天，表示 `8/08` 的 `20:15` 分前您必須前往超商繳費。  
            範例: `CVS`=`1440`(共 `1` 天)、`BARCODE`=`7`(共 `7` 天)  
        Desc_1:
          type: string
          maxLength: 20
          example: 交易描述1
          description: |
            **交易描述1** 會出現在超商繳費平台螢幕上
        Desc_2:
          type: string
          maxLength: 20
          example: 交易描述2
          description: |
            **交易描述2** 會出現在超商繳費平台螢幕上
        Desc_3:
          type: string
          maxLength: 20
          example: 交易描述3
          description: |
            **交易描述3** 會出現在超商繳費平台螢幕上
        Desc_4:
          type: string
          maxLength: 20
          example: 交易描述4
          description: |
            **交易描述4** 會出現在超商繳費平台螢幕上
        PaymentInfoURL:
          type: string
          maxLength: 200
          description: |
            **Server 端回傳付款相關資訊**  
            若有設定此參數，訂單建立完成後(非付款完成)，綠界會 Server 端背景回傳消費者付款方式相關資訊(例：繳費代碼與繳費超商)。  
            請參考[`ATM`、`CVS` 或 `BARCODE` 的取號結果通知.]  
            注意事項：  
            頁面將會停留在綠界，顯示繳費的相關資訊。  
            回傳只有三段號碼，並不會回傳條碼圖，需自行轉換成 code39 的三段條碼。  
        ClientRedirectURL:
          type: string
          maxLength: 200
          description: |
            **Client端回傳付款方式相關資訊**  
            若有設定此參數，訂單建立完成後(非付款完成)，綠界會從 Client 端回傳消費者付款方式相關資訊(例：繳費代碼與繳費超商)且將頁面轉到特店指定的頁面。  
            請參考[`ATM`、`CVS` 或 `BARCODE` 的取號結果通知.]  
            注意事項：  
            若設定此參數，將會使設定的返回特店的按鈕連結[ClientBackURL]失效。  
            若導回網址未使用 https 時，部份瀏覽器可能會出現警告訊息。  
            回傳只有三段號碼，並不會回傳條碼圖，需自行轉換成 code39 的三段條碼。  

        # === Credit Option ===        
    AioCheckOutCreditOption:
      type: object
      properties:
        BindingCard:
          $ref: '#/components/schemas/BindingCardEnum'
        MerchantMemberID:
          type: string
          maxLength: 30
          example: Test1234
          description: |
            **記憶卡號識別碼** 記憶卡號識別碼 (特店代號 `MerchantID` + `廠商會員編號`)

        # === Credit Option 一次付清 ===        
    AioCheckOutCreditOnceOption:
      type: object
      properties:
        Redeem:
          $ref: '#/components/schemas/RedeemEnum'
        UnionPay:
          $ref: '#/components/schemas/UnionPayEnum'

        # === Credit Option 分期付款 ===        
    AioCheckOutCreditInstallmentOption:
      type: object
      required:
        - CreditInstallment
      properties:
        CreditInstallment:
          type: string
          maxLength: 20
          example: 3,6
          description: |
            **刷卡分期期數**   
            提供刷卡分期期數  
            信用卡分期可用參數為:3,6,12,18,24  
            注意事項：  
            使用的期數必須先透過申請開通後方能使用，並以申請開通的期數為主。  

        # === Credit Option 定期定額 ===        
    AioCheckOutCreditPeriodOption:
      type: object
      required:
        - PeriodAmount
        - PeriodType
        - Frequency
        - ExecTimes
      properties:
        PeriodAmount:
          type: integer
          description: |
            **每次授權金額**  
            每次要授權(扣款)的金額。  
            注意事項：  
            綠界會依此次授權金額`PeriodAmount`所設定的金額做為之後固定授權的金額。  
            交易金額`TotalAmount`設定金額必須和授權金額`PeriodAmount`相同。  
            請帶整數，不可有小數點。僅限新台幣。
        PeriodType:
          $ref: '#/components/schemas/CreditPeriodTypeEnum'
        Frequency:
          type: integer
          minimum: 1
          maximum: 365
          description: |
            **執行頻率**  
            此參數用來定義多久要執行一次  
            注意事項：  
            至少要大於等於 1 次以上。  
            當 `PeriodType` 設為 `D` 時，最多可設 `365` 次。   
            當 `PeriodType` 設為 `M` 時，最多可設 `12` 次。    
            當 `PeriodType` 設為 `Y` 時，最多可設 `1` 次。
        ExecTimes:
          type: integer
          minimum: 1
          maximum: 999
          description: |
            **執行次數**  
            總共要執行幾次。  
            注意事項：  
            至少要大於 1 次以上。  
            當 `PeriodType` 設為 `D` 時，最多可設 `999`次。  
            當 `PeriodType` 設為 `M` 時，最多可設 `99`次。  
            當 `PeriodType` 設為 `Y` 時，最多可設 `9` 次。  

            例 1：  
            當信用卡定期定額扣款為每個月扣 1 次500 元，總共要扣 12次  
            `TotalAmount`參數請帶 `500`
            `PeriodAmount`=`500`  
            `PeriodType`=`M`  
            `Frequency`=`1`  
            `ExecTimes`=`12`   
            例 2：  
            當信用卡定期定額扣款為 6000 元，每 6 個月扣 1 次，總共要扣 2 次時   
            交易金額`TotalAmount`參數請帶 `6000`  
            `PeriodType`=`M`  
            `Frequency`=`6`  
            `ExecTimes`=`2`  
        PeriodReturnURL:
          type: string
          maxLength: 200
          description: |
            **定期定額的執行結果回應URL**  
            若交易是信用卡定期定額的方式，則每次執行授權完，會將授權結果回傳到這個設定的 URL。  
            回覆內容請參考。  

        # === InvoiceMark Option ===        
    AioCheckOutInvoiceOption:
      type: object
      required:
        - RelateNumber
        - TaxType
        - Donation
        - Print
        - InvoiceItemName
        - InvoiceItemCount
        - InvoiceItemWord
        - InvoiceItemPrice
        - DelayDay
        - InvType
      properties:
        RelateNumber:
          type: string
          maxLength: 30
          example: Tea0001
          description: |
            **特店自訂編號** 此為特店自訂編號，編號均為唯一值不可重複使用。
        CustomerID:
          type: string
          pattern: ^[\w\d_]*$
          maxLength: 20
          description: |
            **客戶編號** 該參數有值時，僅接受『英文、數字、下底線』等字元。
        CustomerIdentifier:
          type: string
          maximum: 8
          example: 53348111
          description: |
            **統一編號** 該參數有值時，請帶固定長度為數字 8 碼。
        CustomerName:
          type: string
          maximum: 60
          example: 綠界電子支付股份有限公司
          description: |
            **客戶名稱**   
            當列印註記`Print`為 `1`(列印)時，則該參數必須有值。  
            該參數有值時，僅接受『中、英文及數字』等字元。  
            請將參數值做 UrlEncode 方式編碼。  
        CustomerAddr:
          type: string
          maxLength: 200
          example: 臺北市南港區三重路 19-2 號 5 樓
          description: |
            **客戶地址**   
            當列印註記`Print`為 `1`(列印)時，則該參數必須有值。  
            當該參數有值時，請注意特殊字元轉換 。   
            請將參數值做 UrlEncode 方式編碼。
        CustomerPhone:
          type: string
          maxLength: 20
          example: 0912345678
          description: |
            **客戶手機號碼**  
            當客戶電子信箱`CustomerEmail`為空字串時，則該參數必須有值。  
            當該參數有值時，則格式為數字。  
            注意事項：  
            請填手機號碼，不能填市話因為要收簡訊通知用  
        CustomerEmail:
          type: string
          maxLength: 200
          example:  abc@ecpay.com.tw
          description: |
            **客戶電子信箱**  
            當客戶手機號碼`CustomerPhone`為空字串時，則該參數必須有值。  
            當該參數有值時，則格式需符合 EMAIL格式。  
            請將參數值做 UrlEncode 方式編碼。  
        ClearanceMark:
          $ref: '#/components/schemas/ClearanceMarkEnum'
        TaxType:
          $ref: '#/components/schemas/TaxTypeEnum'
        CarruerType:
          $ref: '#/components/schemas/CarruerTypeEnum'
        CarruerNum:
          type: string
          maxLength: 64
          description: |
            **載具編號**  
            1. 當載具類別 `CarruerType`=``無載具)，請帶空字串。  
            2. 當載具類別`CarruerType`=`1`(綠界科技電子發票載具)時，請帶空字串，系統會自動帶入值，為合作特店載具統一編號+自訂編號(RelateNumber)。  
            3. 當載具類別`CarruerType`=`2`(買受人之自然人憑證)時，則請帶固定長度為16且格式 為2碼大寫英文字母加上14碼數字。  
            4. 當載具類別`CarruerType`=`3`(買受人之手機條碼)時，則請帶固定長度為 8且格式為 1 碼斜線「/」加上由 7 碼數字及大寫英文字母及+-.符號組成。  

            注意事項：  
            1. 若手機條碼中有加號，可能在介接驗證時 發生錯誤，請將加號改為空白字元，產生 驗證碼。  
            2. 英文、數字、符號僅接受半形字  
            3. 若載具編號為手機條碼載具時，請先呼叫B2C電子發票介接技術文件手機條碼載驗證ＡＰＩ進行檢核  
        Donation:
          $ref: '#/components/schemas/InvoiceDonationEunm'
        LoveCode:
          type: string
          maxLength: 7
          example: 168001
          description: |
            **捐贈碼**  
            消費者選擇捐贈發票則於此欄位須填入受贈單位之捐贈碼。  
            1. 若捐贈註記 `Donation`= `1` (捐贈)時，此欄位須有值。  
            2. 捐贈碼以阿拉伯數字為限，最少三碼，最多七碼。內容定位採「文字格式」，首位可以為零。   
        Print:
          $ref: '#/components/schemas/InvoicePrintEnum'
        InvoiceItemName:
          type: string
          maxLength: 100
          example: 名稱1|名稱2|名稱3
          description: |
            **商品名稱**  
            預設不可為空字串且格式為 名稱 1 | 名稱 2 | 名稱 3 | … | 名稱 n，當含有二筆或以上的商品名稱時，則以「|」符號區隔。  
            將參數值以 UrlEncode 方式編碼。  
        InvoiceItemCount:
          type: string
          example: 1|1
          description: |
            **商品數量**  
            預設不可為空字串且格式為 數量 1 | 數量 2 | 數量 3 | … | 數量 n，當含有二筆或以上的商品名稱時，則以「|」符號區隔。
        InvoiceItemWord:
          type: string
          description: |
            **商品單位**  
            商品單位若超過二筆以上請以「|」符號區隔單位最大長度為 6 碼。  
            請將參數做 UrlEncode 方式編碼。
        InvoiceItemPrice:
          type: string
          description: |
            **商品價格**  
            預設不可為空字串且格式為 價格 1 | 價格 2 | 價格 3 | … | 價格 n，當含有二筆或以上的商品價格時，則以「|」符號區隔。
        InvoiceItemTaxType:
          type: string
          example: 1|1|3
          description: |
            **商品課稅別**  
            1：應稅  
            2：零稅率  
            3：免稅  
            注意事項：  
            1. 預設為空字串，當課稅類別 [TaxType] = 9 時，此欄位不可為空。  
            2. 格式為課稅 類別 1 | 課稅類別 2 | 課稅類別 3 | … | 課稅類別 n。當含有二筆或以上的商品課稅類別時，則以「|」符號區隔。  
            3. 課稅類別為混合稅率時，需含二筆或 以 上 的 商 品 課 稅   別[InvoiceItemTaxType]，且至少需有一筆商品課稅別為應稅及至少需有一筆商品課稅別為免稅或零稅率，即混稅發票只能 1.應稅+免稅 2.應稅+零稅率，免稅和零稅率發票不能同時開立。
        InvoiceRemark:
          type: string
          description: |
            **備註** 當該參數有值時，請將參數值做UrlEncode 方式編碼。
        DelayDay:
          type: string
          minimum: 0
          description: |
            **延遲天數**  
            本參數值請帶 0~15(天)，當天數為 0 時，則付款完成後立即開立發票。
        InvType:
          type: string
          description: |
            **字軌類別**  
            若為一般稅額時，請帶 07。  
            預設值：07  

    InvoicePrintEnum:
      type: string
      enum:
        - 0
        - 1
      x-enum-varnames:
        - PRINT
        - NOT_PRINT
      x-enum-descriptions:
        - 不列印
        - 列印
      description: |
        **列印註記**  
        若為不列印或捐贈註記`Donation`為1(捐贈)時，請帶：`0`。  
        若為列印或統一編號`CustomerIdentifier`有值時，請帶：`1`  
    InvoiceDonationEunm:
      type: string
      enum:
        - 1
        - 0
      x-enum-varnames:
        - DONATION
        - NOT_DONATION
      x-enum-descriptions:
        - 捐贈
        - 不捐贈
      description: |
        **捐贈註記**
        若為捐贈時，參數請帶：`1`。
        若為不捐贈或統一編號 `CustomerIdentifier` 有值時，參數請帶：`0`。

    CarruerTypeEnum:
      type: string
      enum:
        - ''
        - 1
        - 2
        - 3
      x-enum-varnames:
        - NO_CARRIER
        - SHOP_CARRIER
        - NATURAL_PERSON_CERTIFICATE_CARRIER
        - PHONE_BARCODE_CARRIER
      x-enum-descriptions:
        - 無載具
        - 特店載具
        - 買受人之自然人憑證
        - 手機條碼
      description: |
        **載具類別**  
        若為無載具時，則請帶空字串。  
        若為特店載具時，則請帶 `1`。  
        若為買受人之自然人憑證號碼時，則請帶 `2`。  
        若為買受人之手機條碼資料時，則請帶`3`。  
        若統一編號 `CustomerIdentifier` 有值時，則載具類別不可為特店載具或自然人憑證載具。  
        注意事項：當`Print`有值時，載具類別不得有值。  

    TaxTypeEnum:
      type: string
      # maxLength: 1
      enum:
        - 1
        - 2
        - 3
        - 9
      x-enum-varnames:
        - TAXABLE
        - ZERO_TAX_RATE
        - DUTY_FREE
        - MIXED
      x-enum-descriptions:
        - 應稅
        - 零稅率
        - 免稅
        - 混合應稅與免稅或零稅率
      description: |
        **課稅類別**
        若為應稅，請帶 `1`。  
        若為零稅率，請帶 `2`。  
        若為免稅，請帶 `3`。  
        若為混合應稅與免稅或零稅率時(限收銀機發票無法分辨時使用，且需通過申請核可)，則請帶 `9`。  

    ClearanceMarkEnum:
      type: string
      # maxLength: 1
      enum:
        - 1
        - 2
      x-enum-varnames:
        - NOT_CUSTOMS
        - CUSTOMS
      x-enum-descriptions:
        - 非經海關出口
        - 經海關出口
      description: |
        **通關方式**  
        當課稅類別`TaxType`為 `2`(零稅率)時，則該參數請帶 `1`(非經海關出口)或 `2`(經海關出口)。
    CreditPeriodTypeEnum:
      type: string
      enum:
        - D
        - M
        - Y
      x-enum-varnames:
        - DAY
        - MONTH
        - YEAR
      x-enum-descriptions:
        - 以天為週期
        - 以月為週期
        - 以年為週期
      description: |
        **週期種類**  
        可設定以下參數：  
        `D`：以天為週期  
        `M`：以月為週期  
        `Y`：以年為週期  

    UnionPayEnum:
      type: integer
      enum:
        - 0
        - 1
        - 2
      default: 0
      example: 0
      x-enum-varnames:
        - NOT_SPECIFIED
        - SPECIFIED
        - HIDDEN

      x-enum-descriptions:
        - 消費者於交易頁面可選擇是否使用銀聯交易。
        - 只使用銀聯卡交易，且綠界會將交易頁面直接導到銀聯網站。
        - 不可使用銀聯卡，綠界會將交易頁面隱藏銀聯選項。
      description: |
        **銀聯卡交易選項**  
        可帶入以下選項:  
        `0`: 消費者於交易頁面可選擇是否使用銀聯交易。  
        `1`: 只使用銀聯卡交易，且綠界會將交易頁面直接導到銀聯網站。  
        `2`: 不可使用銀聯卡，綠界會將交易頁面隱藏銀聯選項。  
        注意事項：  
        1.若需使用銀聯卡服務，請與綠界提出申請方可使用，測試環境未提供銀聯卡服務。  
        2.不支援信用卡分期付款及定期定額。  
        3.不支援信用卡紅利折抵  
        4.不支援信用卡記憶卡號功能

    RedeemEnum:
      type: string
      # maxLength: 1 # 會導致sdk產生故障
      enum:
        - Y
      example: Y
      description: |
        **信用卡是否使用紅利折抵**  
        設為 Y 時，當綠界特店選擇信用卡付款時，會進入紅利折抵的交易流程。  
        注意事項：  
        紅利折抵請參考信用卡紅利折抵辦法  

    ECPaySimulateEnum:
      type: integer
      enum:
        - 0
        - 1
      x-enum-varnames:
        - REAL_PAID
        - SIMULATED
      x-enum-descriptions:
        - 不是模擬付款
        - 是模擬付款
      example: 0
    AioCheckPaymentTypeEnum:
      type: string
      enum:
        - aio
      default: aio
      example: aio
      # maxLength: 20 #這會導致sdk產生故障
      description: |
        **交易類型** 請固定填入 `aio`
    ChoosePaymentEnum:
      type: string
      # maxLength: 20 #這會導致sdk產生故障
      example: Credit
      enum:
        - Credit
        - WebATM
        - ATM
        - CVS
        - BARCODE
        - ALL
      x-enum-descriptions:
        - 信用卡及銀聯卡(需申請開通)
        - 網路 ATM
        - 自動櫃員機
        - 超商代碼
        - 超商條碼
        - 不指定付款方式，由綠界顯示付款方式選擇頁面。
      description: |
        **選擇預設付款方式**  
        綠界提供下列付款方式，請於建立訂單時傳送過來:  
        - `Credit`: 信用卡及銀聯卡(需申請開通)  
        - `WebATM`: 網路 ATM  
        - `ATM`: 自動櫃員機  
        - `CVS`: 超商代碼   
        - `BARCODE`: 超商條碼  
        - `ALL`: 不指定付款方式，由綠界顯示付款方式選擇頁面。  

        注意事項：
        1.若為手機版時不支援下列付款方式:
          - WebATM:網路 ATM

        2.如需要不透過綠界畫面取得 `ATM`、`CVS`、`BARCODE` 的繳費代碼，請參考 FAQ。
    NeedExtraPaidInfoEnum:
      type: string
      #maxLength: 1  #這會導致sdk產生故障
      enum:
        - Y
        - N
      # example: N
      # default: N
      x-enum-descriptions:
        - 要回傳額外的付款資訊
        - 不回傳額外的付款資訊
      description: |
        **是否需要額外的付款資訊**   
        額外的付款資訊：  
        若不回傳額外的付款資訊時，參數值請傳：`Ｎ`；  
        若要回傳額外的付款資訊時，參數值請傳：`Ｙ`，付款完成後綠界會以 Server POST 方式回傳額外付款資訊。    
        注意事項：  
        回傳額外付款資訊參數請參考-額外回傳的參數
    InvoiceMarkEnum:
      type: string
      maxLength: 1
      enum:
        - Y
      description: |
        **電子發票開立註記**  
        此參數為付款完成後同時開立電子發票。  
        若要使用時，該參數須設定為「Y」，同時還要設定「電子發票介接相關參數」  
        注意事項：  
        正式環境欲使用電子發票功能，須與綠界申請開通，若未開通請致電客服中心 `(02) 2655-1775`。  
    EncryptTypeEnum:
      type: integer
      enum:
        - 1
      default: 1
      example: 1
      x-enum-varnames:
        - SHA256
      description: |
        **CheckMacValue加密類型** 請固定填入 `1`，使用 SHA256 加密。
    LanguageEnum:
      type: string
      #maxLength: 3  #這會導致sdk產生故障
      enum:
        - ENG
        - KOR
        - JPN
        - CHI
      example: ENG
      x-enum-descriptions:
        - 英語
        - 韓語
        - 日語
        - 簡體中文
      description: |
        **語系設定**  
        預設語系為中文，若要變更語系參數值請帶：  
        - 英語：`ENG`  
        - 韓語：`KOR`  
        - 日語：`JPN`  
        - 簡體中文：`CHI`  
    BindingCardEnum:
      type: integer
      enum:
        - 1
        - 0
      example: 1
      x-enum-varnames:
        - BINDING
        - NOT_BINDING
      x-enum-descriptions:
        - 記憶信用卡
        - 不記憶
      description: |
        **記憶卡號**  
        使用記憶信用卡  
        使用：請傳 `1`    
        不使用：請傳 `0`  
    PaymentTypeEnum:
      type: string
      example: Credit_CreditCard
      enum:
        - WebATM_TAISHIN
        - WebATM_ESUN
        - WebATM_BOT
        - WebATM_FUBON
        - WebATM_CHINATRUST
        - WebATM_FIRST
        - WebATM_CATHAY
        - WebATM_MEGA
        - WebATM_LAND
        - WebATM_TACHONG
        - WebATM_SINOPAC
        - ATM_TAISHIN
        - ATM_ESUN
        - ATM_BOT
        - ATM_FUBON
        - ATM_CHINATRUST
        - ATM_FIRST
        - ATM_LAND
        - ATM_CATHAY
        - ATM_TACHONG
        - CVS_CVS
        - CVS_OK
        - CVS_FAMILY
        - CVS_HILIFE
        - CVS_IBON
        - BARCODE_BARCODE
        - Credit_CreditCard


